{% extends "admin/change_list.html" %}
{% block footer %}
    <script>
        fielddegelo = document.getElementsByClassName("field-degelo");

        for(x = 0; x < fielddegelo.length; x++){
            //Verificar se degelo==None
            if (fielddegelo[x].childNodes[0].getAttribute("alt") == "None"){
                fielddegelo[x].removeChild(fielddegelo[x].childNodes[0]);
            }
        }
        alert(fielddegelo.length);
    </script>
    {{ block.supper }}

{% endblock footer %}